<!-- breadcrumb area start -->
<section class="breadcrumb__area include-bg pt-95 pb-50" data-bg-color="#EFF1F5">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1">
                    <h3 class="breadcrumb__title">Recargas</h3>
                    <div class="breadcrumb__list">
                        <span><a href="#">Home</a></span>
                        <span>Recargas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

<!-- checkout area start -->
<section class="tp-checkout-area pb-120" data-bg-color="#EFF1F5">
    <div class="container">
        <div class="row">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="tp-checkout-bill-area">
                            <h3 class="tp-checkout-bill-title">Opciones de Compra</h3>
                            <div class="tp-checkout-bill-form">
                                <div class="tp-checkout-bill-inner">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="tp-checkout-input">
                                                <label>Compañia</label>
                                                <select class="nice-select" [(ngModel)]="selectedCompania"
                                                    formControlName="company">
                                                    <option class="option selected" value="">Seleccione Compañía
                                                    </option>
                                                    <option class="option" value="133">Telcel</option>
                                                    <option class="option" value="115">AT&T</option>
                                                    <option class="option" value="2284">ABIB</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div *ngIf="selectedCompania === '133'" class="col-md-6">
                                            <div class="tp-checkout-input">
                                                <label>Paquete</label>
                                                <select class="nice-select" [(ngModel)]="selectedPackage"
                                                    formControlName="package">
                                                    <option class="option selected" value="">Seleccione Paquete</option>
                                                    <option class="option" value="406">TELCEL Recarga $100</option>
                                                    <option class="option" value="407">TELCEL Recarga $150</option>
                                                    <option class="option" value="408">TELCEL Recarga $200</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div *ngIf="selectedCompania === '115'" class="col-md-6">
                                            <div class="tp-checkout-input">
                                                <label>Paquete</label>
                                                <select class="nice-select" [(ngModel)]="selectedPackage"
                                                    formControlName="package">
                                                    <option class="option selected" value="">Seleccione Paquete</option>
                                                    <option class="option" value="299">ATT Recarga $100</option>
                                                    <option class="option" value="300">ATT Recarga $150</option>
                                                    <option class="option" value="301">ATT Recarga $200</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div *ngIf="selectedCompania === '2284'" class="col-md-6">
                                            <div class="tp-checkout-input">
                                                <label>Paquete</label>
                                                <select class="nice-select" [(ngModel)]="selectedPackage"
                                                    formControlName="package">
                                                    <option class="option selected" value="">Seleccione Paquete</option>
                                                    <option class="option" value="18105">$100 ABIB 100 15 DIAS</option>
                                                    <option class="option" value="14314">$150 ABIB 150</option>
                                                    <option class="option" value="18109">$200 ABIB 15GB ILIM 30D</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="tp-checkout-input">
                                                <label>Telefono <span>*</span></label>
                                                <input type="text" formControlName="phone"
                                                    placeholder="Teléfono (10 dígitos)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <!-- checkout place order -->
                        <div class="tp-checkout-place white-bg">
                            <h3 class="tp-checkout-place-title">Tu compra</h3>

                            <div class="tp-order-info-list">
                                <ul>

                                    <!-- header -->
                                    <li class="tp-order-info-list-header">
                                        <h4>Product</h4>
                                    </li>

                                    <!-- item list -->
                                    <li class="tp-order-info-list-desc">
                                        <p>RECARGA TELEFONICA</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tp-checkout-btn-wrapper">
                                <button [type]="onSubmit" class="tp-checkout-btn w-100">Realizar recarga</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- checkout area end -->