<!-- breadcrumb area start -->
<section class="breadcrumb__area include-bg pt-95 pb-50" data-bg-color="#EFF1F5">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1">
                    <h3 class="breadcrumb__title">Pago de Servicios</h3>
                    <div class="breadcrumb__list">
                        <span><a href="#">Home</a></span>
                        <span>Servicios</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

<!-- checkout area start -->
<section class="tp-checkout-area pb-120" data-bg-color="#EFF1F5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="tp-checkout-bill-area">
                    <h3 class="tp-checkout-bill-title">Opciones de Compra</h3>

                    <div class="tp-checkout-bill-form">
                        <form action="#">
                            <div class="tp-checkout-bill-inner">
                                <div class="row">
                                    <div class="tp-checkout-input">
                                        <label>Empresa</label>
                                        <select style="display: none;">
                                            <option>Saleccione Empresa</option>
                                            <option>Telmex</option>
                                            <option>IZZI</option>
                                            <option>AT&T</option>
                                            <option>CFE</option>
                                        </select>
                                        <div class="nice-select" tabindex="0"><span class="current">Seleccione Empresa</span>
                                            <ul class="list">
                                                <li data-value="New York US" class="option selected">Saleccione Empresa</li>
                                                <li data-value="Berlin Germany" class="option">Telmex</li>
                                                <li data-value="Paris France" class="option">IZZI</li>
                                                <li data-value="Tokiyo Japan" class="option focus">AT&T</li>
                                                <li data-value="Tokiyo Japan" class="option focus">CFE</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>Telefono / numero de servcio <span>*</span></label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <!-- checkout place order -->
                <div class="tp-checkout-place white-bg">
                    <h3 class="tp-checkout-place-title">Tu compra</h3>

                    <div class="tp-order-info-list">
                        <ul>

                            <!-- header -->
                            <li class="tp-order-info-list-header">
                                <h4>Product</h4>
                                <h4>Total</h4>
                            </li>

                            <!-- item list -->
                            <li class="tp-order-info-list-desc">
                                <p>Xiaomi Redmi Note 9 Global V. <span> x 2</span></p>
                                <span>$274:00</span>
                            </li>

                            <!-- total -->
                            <li class="tp-order-info-list-total">
                                <span>Total</span>
                                <span>$1,476.00</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tp-checkout-btn-wrapper">
                        <a href="#" class="tp-checkout-btn w-100">Realizar recarga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- checkout area end -->