<!-- breadcrumb area start -->
<section class="breadcrumb__area include-bg pt-95 pb-50" data-bg-color="#EFF1F5">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1">
                    <h3 class="breadcrumb__title">Pago de Servicios</h3>
                    <div class="breadcrumb__list">
                        <span><a href="#">Home</a></span>
                        <span>Servicios</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

<!-- checkout area start -->
<section class="tp-checkout-area pb-120" data-bg-color="#EFF1F5">
    <div class="container">

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-7">
                    <div class="tp-checkout-bill-area">
                        <h3 class="tp-checkout-bill-title">Opciones de Compra</h3>
                        <div class="tp-checkout-bill-form">
                            <div class="tp-checkout-bill-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>Telefono / Referencia <span>*</span></label>
                                            <input type="text" formControlName="reference"
                                                placeholder="Telefono / referencia">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="tp-checkout-input">
                                            <label>Compañia</label>
                                            <select class="nice-select" [(ngModel)]="selectedCompania"
                                                formControlName="company">

                                                <option class="option selected" value="">Saleccione Empresa</option>
                                                <option class="option" value="107">Telmex</option>
                                                <option class="option" value="166">CFE</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="tp-checkout-input">
                                            <label>Monto a pagar <span>*</span></label>
                                            <input type="text" formControlName="pay" placeholder="$">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tp-checkout-btn-wrapper">
                        <button type="button" (click)="checkBalance()" class="tp-checkout-btn w-100">Consultar Saldo</button>
                    </div>
                </div>

                <div class="col-lg-5">
                    <!-- checkout place order -->
                    <div class="tp-checkout-place white-bg">
                        <h3 class="tp-checkout-place-title">Tu compra</h3>

                        <div class="tp-order-info-list">
                            <ul>

                                <!-- header -->
                                <li class="tp-order-info-list-header">
                                    <h4>Product</h4>
                                </li>

                                <!-- item list -->
                                <li class="tp-order-info-list-desc">
                                    <p>Pago de servicio</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tp-checkout-btn-wrapper">
                            <button [type]="onSubmit" class="tp-checkout-btn w-100">Realizar pago</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </form>
    </div>
</section>
<!-- checkout area end -->